<%= turbo_stream_from @room %>
<%= turbo_stream_from "rooms" %>
<p style="color: green"><%= notice %></p>
<%= render @room %>
<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>
  <%= render "messages/form", room: @room %>
  <%= render "message", room: @room %>
  <%= button_to "Destroy this room", @room, method: :delete %>
</div>
